:root {
    --primary-color: #CAE9FF;
    --secondary-color: #1B4965;
    --accent1-color: #62B6CB;
    --accent2-color: #BEE9E8;

}

body {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-style: normal;
    color: #1B4965;
    font-weight: 300;
}

 .hero
 {
display: block;


 }


 .hero-image

 {
position:absolute;  
height: auto;
display: block;
top: 130px;
 }

 .hero-title
 {
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    padding: 0.1rem;
    background-color: rgba(27, 73, 101, 0.7);
    border-radius: 5px;
    position: relative;
    top: -30px;
    text-align: center;
    
 }

 .hero-home-title
 {
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    padding: 0.1rem;
    background-color: rgba(27, 73, 101, 0.7);
    border-radius: 5px;
    position: relative;
    top: 330px;
    text-align: center;
 }

 .hero-article
 {
    position:relative;
    display: block;

 }

 .client-image
 {
position:relative;
top: 60px;
left: 1215px;
width: 250px;
border: 15px solid;
 }

 .client-testimonial
 {
    display:flex;
    justify-content: stretch;
    top: -120px;
    position: relative;
    width: 22%;
    left: 890px;
    right: 200px;
    color:#f4f5f6;
    font-size: 1.5rem;
    
    
 }

 .history-container
 {
    
    display:flex;
    top: -130px;
    position: relative;
    gap: 20px;
    left:1px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
 }

 .newsletter-container
 {
    
    display:flex;
    top: 590px;
    position: relative;
    background-color: #e3e7e9;
    gap: 20px;
    left:px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
 }

 /* Newsletter Form */
.newsletter {
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;

}

.newsletter h2 {
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: -20px; /* Ajusta este valor para reducir el margen superior */
}

.newsletter p {
    font-size: 1.1em;
    margin-bottom: 20px;
}


.horizontal-form {
    display: grid;
    grid-template-columns: repeat(3); 
    gap: 40px; 
    align-items: center; 
    justify-items: center; 
    max-width: 800px; 
    
}


.newsletter .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%; 
}

.newsletter label {
    font-weight: bold;
    margin-bottom: 5px;
}

.newsletter input[type="text"],
.newsletter input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Submit button */
.newsletter button.btn-submit {
    grid-column: span 3; 
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.newsletter button.btn-submit:hover {
    background-color: #e65c00;
}
.p-history-container
{
width: 100%;
font-size: 1.1rem;
left: 20px;

}

.h2-history-container
{
    font-size: 2.5rem;
}

.adventure-container
{
    display:flex;
    top: -125px;
    position: relative;
    border: 2px solid black; 
    padding: 30px;
    box-sizing:border-box;
    align-items: end;
    text-align: center;

}

.home-container
{
    display:flex;
    top: -20px;
    background-color:#e3e7e9;
    position: relative;
    border: 2px solid black; 
    border-radius: 0px; 
    padding: 30px;
    box-sizing:border-box;
    align-items: end;
    text-align: center;
    width: 1495px;

}
.title-adventure
{
position:absolute;
top:-20px;
display:flex;
align-items:start;

left: 80px;
width: 85%;
justify-content: center;
margin: 25px;
font-size: 2.5rem;
font-weight: bold;

}

.home-adventure
{
position:absolute;
top:-30px;
display:flex;
align-items:start;

left: 80px;
width: 85%;
justify-content: center;
margin: 25px;
font-size: 2.5rem;
font-weight: bold;

}

.home-gallery
{
    display:flex;
    flex-direction:row;
    align-items:flex-end;
    justify-content: space-between;    
    gap: 2px;                         
    padding: 2px;                     
       

}

.adventure-gallery
{
    display:flex;
    flex-direction:row;
    align-items:flex-end;
    justify-content: space-between;    
    gap: 2px;                         
    padding: 2px;                     
       

}




.adventure-image {
    width: 100%;                       
    height: auto;                      
    border-radius: 10px;               
}

figcaption {
    margin-top: 5px; 
    font-size: 1.2rem;                   
    color: #333;                       
    font-weight: bold;                 
}

.footer-home  {
    position:absolute;
    background-color: #c6c6c6;
    display: flex;
    justify-content: space-around;
    top: 1256px;
    left: 5px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-style: normal;
    color: #1B4965;
    padding: 20px;            
    text-align: center; 
    width: 96.7%;
    
}

.footer-about  {
    position:absolute;
    background-color: #c6c6c6;
    display: flex;
    justify-content: space-around;
    top: 1060px;
    left: 10px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-style: normal;
    color: #1B4965;
    padding: 20px;            
    text-align: center; 
    width: 96%;
    gap: 800px
}

.footer-home {
    display: flex;                    
    align-items: center;   
    justify-items: flex-end;   
    gap: 800px  
}   


.footer-content {
    position:absolute;
    background-color: #c6c6c6;
    display: flex;
    justify-content: space-around;
    top: 1037px;
    left: 10px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-style: normal;
    color: #1B4965;
    padding: 20px;            
    text-align: center; 
    width: 96%;
    gap: 800px
}

.sociallinks {
    display: flex;  
    justify-content: right;
    gap: 50px; 
   
}
                           
.social-icons
{
    display:flex;
    justify-items: right;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    padding: 20px;
    align-items: center;
}
 
.logo img {
    width: 100%;
    max-width: 150px; 
}
.nav ul {
    display: flex; 
    list-style: none; 
    justify-content: flex-end; 
    
}

.nav li {
    
    margin: 0 15px; 
}

.nav a {
    
    text-decoration: none;
    color: #333;
    font-size: 20px;
    background-color: #e3e7e9;
    border: 3px solid #fff; 
    border-radius: 7px; 
    transition: all 0.3s ease; 
}
.nav a:hover {
    color: #007BFF; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color:#a8cad3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  
  /* El botón*/
  .cta-header-button {
    background-color: #cb4a31;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 1.3em;
  }
  
  .cta-header-button:hover {
    background-color: #e65c00;
  }
  
 
  
  
  
  
  